{% extends "fullteta/layout.html" %}
{% block content %}
<div class="banner">
  <p><strong>Fullteta - Nuestra Tribu de maternidad</strong></p>
</div>
<div class="container-index">
  <section class="section-index">
    <p class="section-index-p">
           En este mundo de la maternidad resulta de gran ayuda estar acompañada por una tribu, 
      donde sentir apoyo de mamis y papis que están viviendo o ya vivieron esta etapa en la que te encuentras, 
      donde oir sus experiencias te hacen sentir que no estas solos, donde te dan idea de que esperar y como afrontarlo,
      y el conjunto de todo esto hace el camino más llevadero, afrontarlo con más seguridad porque se esta informado... 
      En fullteta queremos traer eso para ti, una tribu virtual, acompañarte en estos primeros años de tus pequeños, en nuestra pagina web agruparemos para ti informacion de valor,
      dada por expertos de diferentes areas, asi como por mamis (en la seccion Nuestro Rincon) para que nos cuenten: como fue esos primeros días con el bebé, nos hablen de la lactancia, de rutinas de baños, 
      de como hicieron para que el bebé dejara el pañal, entre tantos temas que involucra la crianza.
      <br/>
        Si quieres sugerirnos algun tema a publicar, consultar alguna duda o solo hablar con nosotros, lo puedes hacer por
      nuestra cuenta en instagram @fullteta <a target="_blank" href="https://www.instagram.com/fullteta/"><img src="https://img.icons8.com/material-outlined/24/000000/instagram-new--v1.png"/></a>
    </p>
    
    <img class="index-img" src="https://images.pexels.com/photos/6414714/pexels-photo-6414714.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="imagen home">
  </section>
</div>
{% endblock %}
