{% extends "fullteta/layout.html" %}
{% block content %}
<div class="banner">
  <p><strong>Nuestro Rincon -- mamis contandonos sus experiencias</strong></p>
</div>
<div class="container-card">
  {% for un_rincon in lista_rincon %}
  <div class="card" style="width: 18rem;">
      <img src="{{un_rincon.imagen}}" class="card-img-top" alt="imagenreferencial">
      <div class="card-body">
        <h5 class="card-title">{{un_rincon.titulo}}</h5>
        <p class="card-text">{{un_rincon.descripcion}}</p>
        <a target="_blank" href="{{un_rincon.link}}" class="btn btn-primary"><button class="car-button">Ver</button></a>
      </div>
  </div> 
  {% endfor %}
</div>
      
{% endblock %}